RewriteEngine on

ErrorDocument 404 http://localhost/haber/404.php

RewriteRule ^hakkimizda$ $hakkimizda.php [NC,L]
RewriteRule ^arama$ arama.php [NC,L]
RewriteRule ^bize-ulasin$ iletisim.php [NC,L]
RewriteRule ^haberler$ haberler.php [NC,L]
RewriteRule ^sitemap.xml$ sitemap.php [NC,L]
RewriteRule ^emlaklar$ emlaklar.php [NC,L]


RewriteRule ^emlak-([0-9a-zA-Z-_]+)-([0-9]+)$ emlak-detay.php?sef=$1&emlak_id=$2 [L,QSA]
RewriteRule ^temsilci-([0-9a-zA-Z-_]+)-([0-9]+)$ temsilci-detay.php?sef=$1&emlak_id=$2 [L,QSA]

RewriteRule ^haber-([0-9a-zA-Z-_]+)-([0-9]+)$  haber-detay.php?sef=$1&icerik_id=$2 [L,QSA]
RewriteRule ^sayfa-([0-9a-zA-Z-_]+)-([0-9]+)$  menu-detay.php?sef=$1&menu_id=$2 [L,QSA]

RewriteCond $1 !^(css|js|images|inc|lang)